{% load static %}

<article class="w-full space-y-4">
  <header class="flex items-center justify-between">
    <div class="flex items-center justify-between gap-3">
      <div class="avatar">
        <a href="{% url 'profile_detail' post.author.id %}" class="hover:scale-110">
          {% if post.author.profile.profile_picture %}
            <img src="{{ post.author.profile.profile_picture.url }}" alt="avatar de usuario" class="size-9 rounded-full flex items-center justify-center object-cover border-2 border-white/10 hover:scale-110 transition-all duration-300">
          {% else %}
            <img src="{% static 'images/user.webp' %}" alt="avatar de usuario" class="size-9 rounded-full flex items-center justify-center object-cover border-2 border-white/10 hover:scale-110 transition-all duration-300">
          {% endif %}
        </a>
      </div>
      <div class="">
        <p class="text-lg">{{post.author}}</p>
      </div>
    </div>

    <!-- si no esta registrado -->
    {% if not user.is_authenticated %}
      <form action="{% url 'follow' post.author.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-secondary">Seguir</button>
      </form>
    {% else %}
      {% if post.author.id not in followed_ids %}
        <form action="{% url 'follow' post.author.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary">Seguir</button>
        </form>
      {% endif %}
    {% endif %}
  </header>

  <div class="body-post">
    
     <span class="text-sm pb-2 block">{{post.caption}}</span>

     {% if post.image  %}
        <figure>
          <img src="{{post.image.url}}" alt="Imagen de post" class="w-full h-auto object-cover">
        </figure>
     {% endif  %}
  </div>
  <footer>
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-3">
        <span class="cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart" aria-hidden="true">
            <path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"></path>
          </svg>
        </span>
        <span class="counts">1200</span>
        <span class="cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-circle" aria-hidden="true">
            <path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z"></path>
          </svg>
        </span>
        <span class="counts">1200</span>
      </div>
      <div class="save">
        <span class="cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bookmark" aria-hidden="true">
            <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z"></path>
          </svg>
        </span>
      </div>
    </div>
  </footer>
</article>

<style>
  .counts {
    font-size: 14px;
    color: var(--color-gray-400);
  }
</style>