{% load static %}

<header class="p-4 w-full max-w-2xl mx-auto">
  <div class="flex items-center justify-between">
    {% if user.is_authenticated %}
      <div class="new-post">
      <span class="cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus" aria-hidden="true">
          <path d="M5 12h14"></path>
          <path d="M12 5v14"></path>
        </svg>
      </span>
    </div>
    {% else %}
    <a class="btn btn-primary" href="{% url 'login' %}">Entrar</a>
    {% endif %}
    
    <div class="logo-perfil flex items-center justify-center gap-3">
      <a href="/" class="pt-1 flex">
        <img class="block w-24 h-auto" src="{% static 'icons/logo.svg' %}" alt="Logo de Instagram">
      </a>

      {% if user.is_authenticated %}
      <div class="avatar">

        {% with avatar=user.profile.get_avatar_data %}

          {% if avatar.is_image %}
            <img src="{{ avatar.url }}" alt="avatar de usuario" class="size-9 rounded-full flex items-center justify-center object-cover border-2 border-white/10">
          {% else %}
            <span  
              style="background-color: {{ avatar.color}}"
              class="rounded-full grid place-content-center size-9 border-2 border-white/10 text-white" 
            >
              {{ avatar.initial }}
            </span>
          {% endif %}
        {% endwith %}
      </div>
      {% endif %}


    </div>

    <div class="search">
      <span class="cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search" aria-hidden="true">
          <circle cx="11" cy="11" r="8"></circle>
          <path d="m21 21-4.3-4.3"></path>
        </svg>
      </span>
    </div>
  </div>
</header>