{% extends 'base.html' %}

{% block content %}
<!-- header page -->
{% include 'includes/header.html' %}

<main>
  <section class="p-4 w-full max-w-2xl mx-auto space-y-5">
    <article class="section-empty">
      <span>Historias (Próximamente)</span>
    </article>
    <section class="">
      <div class="flex w-full flex-col gap-10">
        {% for post in posts %}
          {% include 'includes/card_post.html' with post=post %}
        {% empty %}
          <p>No hay post para mostrar</p>
        {% endfor %}

      </div>
    </section>
  </section>
</main>
{% endblock %}