{% extends 'base.html' %}
{% block title %}Perfil{% endblock title %}
{% load static %}


{% block content %}
  <header class="p-4 w-full max-w-2xl mx-auto"> 
    <div class="flex items-center justify-center">
        <div class="logo">
            <a href="/" class="pt-1 flex">
                <img class="block w-24 h-auto" src="{% static 'icons/logo.svg' %}" alt="Logo de Instagram">
            </a>
        </div>
    </div>
</header>

<section class="p-4 w-full max-w-2xl mx-auto">
  <header class="header-perfil">header</header>
  <div class="body-perfil">posts publicados</div>
</section>
{% endblock %}

